body {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    display: flexbox;
    justify-content: center;
}
p{
    display: block;
    margin: auto 10px;
    font-size: 24px;
    color:black;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}